@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

body{
background-color: #ffffff;
opacity: 1;
background-image:  linear-gradient(30deg, #f3f3f3 12%, transparent 12.5%, transparent 87%, #f3f3f3 87.5%, #f3f3f3), linear-gradient(150deg, #f3f3f3 12%, transparent 12.5%, transparent 87%, #f3f3f3 87.5%, #f3f3f3), linear-gradient(30deg, #f3f3f3 12%, transparent 12.5%, transparent 87%, #f3f3f3 87.5%, #f3f3f3), linear-gradient(150deg, #f3f3f3 12%, transparent 12.5%, transparent 87%, #f3f3f3 87.5%, #f3f3f3), linear-gradient(60deg, #f3f3f377 25%, transparent 25.5%, transparent 75%, #f3f3f377 75%, #f3f3f377), linear-gradient(60deg, #f3f3f377 25%, transparent 25.5%, transparent 75%, #f3f3f377 75%, #f3f3f377);
background-size: 80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}


.list-group-item{
  border: none !important;
}

.nav-link{
  color: #2C3E50;
  font-weight: none;
  background-color: none;
  transition: font-weight 100ms ease-in, background-color 200ms ease-in;
}

.nav-link:hover{
/*   background-color: #F2F4F4; */
  color: white;
  border-radius: 7px;
  font-weight: bold;
  transform: scale(1.5);
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  0%   {background-color: #642B73;}
  100% {background-color: #C6426E;}
}

.nav-item{
  padding: 0.5em;
}

.happy-talk{
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
 font-family: 'Playfair Display', serif;
}

.para{
  font-family: 'Montserrat', sans-serif;
  color: #808B96;
}

.footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}

.profile{
  border-radius: 5em;
  width: 100px;
  border: 3px dotted #F5B041;
  padding: 0.5em;
  transition: transform 200ms ease-in;
}

.profile:hover{
  transform: scale(1.5);
}

@media only screen and (max-width: 600px){
  .happy-talk{
  font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
}
  body{
    background-color: #ffffff;
    background-image: none;
  }
  
  .footer{
    display: none;
  }
}