@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

:root {
  --color-1: #ee627a;
  --color-2: white;
  --color-3: rgba(183, 183, 183, 0.1);
  --bg-1: #1a1a2e;
  --bg-2: #16213e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-1);
  font-family: "Poppins", sans-serif;
}

#aboutme {
  background-color: var(--bg-2);
}

#bgc,
#bgc1,
#bgc2,
#bgc3,
#bgc4,
#bgc5,
#bgc6 {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bgc {
  background: url("/images/bird.jpg") center center no-repeat;
}

#bgc1 {
  background: url("/images/desk.jpg") center center no-repeat;
}

#bgc2 {
  background: url("/images/lemon.jpg") center center no-repeat;
}

#bgc3 {
  background: url("/images/black.jpg") center center no-repeat;
}

#bgc4 {
  background: url("/images/camera.jpg") center center no-repeat;
  background-attachment: fixed;
}

#bgc5 {
  background: url("/images/cup.jpg") center center no-repeat;
}

#bgc6 {
  background: url("/images/abst.jpg") center center no-repeat;
  background-attachment: fixed;
}

#contact-body {
  background-color: var(--color-1);
  font-family: "Poppins", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-text {
  font-family: "Orbitron", sans-serif;
  font-size: 100px;
  padding: 34px 34px 0px 34px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

#contact-text {
  font-size: 100px;
  padding: 34px 34px 0px 34px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

#welcome-text,
#welcome-text1 {
  color: var(--color-3);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

#welcome-text1 {
  font-size: 100px;
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.tilt-in-tr {
  -webkit-animation: tilt-in-tr 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-tr 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-tr {
  0% {
    -webkit-transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px)
      skew(-12deg, -15deg);
    transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px)
      skew(-12deg, -15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-tr {
  0% {
    -webkit-transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px)
      skew(-12deg, -15deg);
    transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px)
      skew(-12deg, -15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

#contact-text {
  color: rgba(255, 255, 255, 0.1);
}

#name-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.name-text {
  -webkit-animation: name-text 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: name-text 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes name-text {
  0% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes name-text {
  0% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

#suvam-text,
#portfolio-text,
#contact-line {
  font-size: 50px;
  text-transform: uppercase;
}

#suvam-text {
  color: var(--color-2);
}
#portfolio-text {
  color: var(--color-1);
}

#aboutLink {
  display: block;
  padding-top: 0.5em;
  font-size: 20px;
  text-decoration: none;
  color: var(--color-2);
}

p {
  color: var(--color-2);
  font-size: 15px;
  margin-top: 5px;
  font-weight: 300;
}

#social-links .social-a {
  margin: 1em 2em 1em 2em;
}

.about-para {
  line-height: 24px;
  word-spacing: 2px;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.424);
  padding: 2em;
  letter-spacing: 1.4px;
}

.btn {
  margin-top: 2em;
  border-radius: 3rem;
  color: white;
  background-color: var(--color-1);
  padding: 1rem 2rem;
}

.btn-color {
  border-style: none;
}

.myname {
  background-color: #0a0a16;
  padding: 0.4em;
}

.container-fluid {
  padding: 0;
}

.exp-img {
  background: url("/images/Rectangle91.png");
}

.list-group-item {
  background-color: var(--color-3);
  color: wheat;
}

.list-group-item a {
  text-decoration: none;
  color: wheat;
}

.list-group-item a:hover {
  text-decoration: none;
  color: var(--color-1);
}

.work-para {
  padding: 6em 6em;
  line-height: 30px;
  word-spacing: 2px;
  letter-spacing: 0.5px;
  font-size: 0.9em;
}

.proj-links {
  color: var(--color-1);
  text-decoration: none;
}

.proj-links:hover {
  color: wheat;
  text-decoration: none;
}

.proj-div {
  margin: 1em 0em;
}

.date {
  color: #b8b8b8;
  font-size: 0.7em;
}

.stats-para {
  color: var(--color-2);
  background-color: var(--bg-2);
  padding: 1em;
  border-radius: 10px;
  letter-spacing: 1px;
  line-height: 25px;
}

.card-container {
  font-family: "Open Sans", sans serif;
  font-size: 120px;
  font-weight: bold;

  width: 400px;
  height: 250px;
  margin: 80px auto;

  border-radius: 10px;

  perspective: 1400px;
}

.card {
  position: relative;

  height: 100%;

  border-radius: 10px;

  width: 100%;
  transform-style: preserve-3d;
}

.front,
.back {
  display: flex;

  width: 100%;
  height: 100%;

  border-radius: 10px;

  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  color: #fff;
  background: #2196f3;
}

.back {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(180deg);

  color: #2196f3;
  background: #fff;
}

/*mobile media query*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 502px){
  .tab-text{
    font-size: 11px;
  }
}


@media only screen and (min-width: 502px) and (max-width: 600px) {
  #welcome-text,
  #contact-text {
    font-size: 2.2em;
    padding: 34px 34px 0px 34px;
    text-transform: uppercase;
  }

  #welcome-text1 {
    font-size: 2.2em;
  }

  .work-para {
    padding: 2em 2em;
  }
}

.hvr-float-shadow {
  box-shadow: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #welcome-text,
  #contact-text {
    font-size: 4em;
    padding: 34px 34px 0px 34px;
    text-transform: uppercase;
  }

  #welcome-text1 {
    font-size: 6em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #welcome-text,
  #contact-text {
    font-size: 6em;
    padding: 34px 34px 0px 34px;
    text-transform: uppercase;
  }

  #welcome-text1 {
    font-size: 9em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1160px) {
  #welcome-text {
    font-size: 150px;
    padding: 34px 34px 0px 34px;
    text-transform: uppercase;
  }

  #contact-text {
    font-size: 100px;
  }

  #welcome-text1 {
    font-size: 100px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
